<div class="col-md-3">
    <div class="prod_2im position-relative clearfix">
        <div class="prod_2i1 clearfix">
            <div class="grid clearfix">
                <figure class="effect-jazz mb-0"> <a href="detail_testing.html"><img
                            src="{{ asset('User/img/IDS135200-Hot-Pink.jpg') }}" class="w-100" alt="abc"></a> </figure>
            </div>
        </div>
        <div class="prod_2i2 pt-4 pb-4 ps-3 pe-3 clearfix">
            <h6><a href="detail.html">Sed Cursus Ante</a></h6>
            <h6 class="font_13"><a class="col_light" href="detail.html"> 27"W x 16"H x 8" BOTTOM GUSSET</a></h6>
            <hr>
            <h6 class="fw-normal mb-0"> <span class="pull-right fw-bold col_yell">$68.00</span> </h6>
        </div>
        <div class="prod_2i3 clearfix position-absolute w-100">
            <h6 class="bg_yell d-inline-block pt-1 pb-1 font_13 text-white ps-3 pe-3">QSB138 </h6>
            <!-- <h6 class="bg_yell d-inline-block pt-1 pb-1 font_13 text-white ps-3 pe-3 pull-right">QSB138</h6> -->
        </div>
    </div>
</div>